div{
    font-family: Helvetica;
    background-color: #272D33;
    color: white;
    font-size: 32px;
    padding: 5px;
}
#big_div{
    display: flex;
    justify-content:space-around;
}
img{
    width:60px;
}
.Items:hover{
    background-color: gray;
    opacity: 0.5;
}
a{
  
    text-align: center;
   /* text-decoration: none; */
}